a {
  text-decoration: none;
}
a:visited {
  color: grey;
}
a:hover {
  color: orange;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5F5F5F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  color: #4a90e2;
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 20px;
}

.subHeader {
  color: #4a90e2;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.baseTextAreaContainer {
  display: flex;
  height: 110px;
  margin: 10px;
}

.baseTextArea {
  flex: 1;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  resize: none;
}

.darkBtn {
  background: #4a90e2;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #4a90e2;
}

.darkBtn:hover {
  background: #1877E6
}
/*what is this*/
.baseDuckContainer {
  border-radius: 5px;
  max-width: 450px;
  margin: 15px auto;
  padding: 10px;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 33px;
  font-weight: 300;
}

.error {
  color: red;
  text-align: center;
  font-size: 22;
}