a {
  text-decoration: none;
}
a:visited {
  color: grey;
}
a:hover {
  color: orange;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5F5F5F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  color: #4a90e2;
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 20px;
}

.subHeader {
  color: #4a90e2;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}